/*classes para setar cor com mesmo hexadecimal do logo do tg*/
.corCamufladoVerde{
	background-color: #3b4835;
}
.corCamufladoMarron{
	background-color: #513f33;
}

/*para nao ter scroll na tela do app*/
body{
	background-color: #eaeded;
	width: 100%;
	position: fixed;
}